.starry-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, #050510 0%, #0a0a20 50%, #0f0f30 100%);
    cursor: crosshair;
}